#main-container {
    border: 1px;
    background-color: aqua;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

#task-container {
    border: 1px;
    background-color: aqua;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

#counter-container {
    background-color: rgb(80, 8, 62);
    flex-direction: column;
    
}

#counter-container.p {
    background-color: rgb(35, 163, 52);
}

p {
    background-color: yellow;
    margin-top: 0;
}

#task-list {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}